html, body {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,p,button,a{
    font-family: Arial, Helvetica, sans-serif;

}


.mainbox{
    background-color: black;
    
}



.navbar{
    background-color: rgb(117, 134, 146);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 23px;
    margin: 10px 0;
}


.nav-center{
    background-color: white;
    border-radius: 5px;
    margin: 0 10px;
    padding: 15px;
    padding-right: 126px;
}


.nav-anchors a {
    text-decoration: none;
    color: inherit;
    min-width: 80%;
    margin: 0 10px;
    max-width: 1400px; 
    

}
.nav-anchors a:hover{
   
    outline-style:solid;
    outline-offset: 5px;
    border-radius: 2px;
    outline-width:0.2px;
    outline-color:gray;
}

.nav-img{
    align-items: center;

}

.sub-body{

    background-color: azure;
    display: grid;
    border-radius: 30px;
    grid-template-rows: auto;
    height: 800px;
}
    
   



.sub-body-heading{
    justify-content: flex-start;

}




.products-list{
    padding: 50px 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.innerbox-title{
    font-size: larger;
    text-align: -webkit-center;
    font-weight: bold;

}

.inner-box {
    font-size:medium;
    width: 390px;
    border-radius: 15px;
    padding: 50px 10px;
    text-align: center;
    width: 300px;
    height: 350px;
    background-color: aqua;

}