html, body {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,p,button,a{
    font-family: Arial, Helvetica, sans-serif;

}
hr{
    height: 1px;
    background-color: #c55d17;
    border: none;
}


.mainbox{
    background-color: black;
    
}



.navbar{
    background-color: #708090;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 22px  0;
    margin-left: -32px;
}


.nav-center{
    background-color: white;
    border-radius: 5px;
    margin: 0 -6px;
    padding: 15px;
    padding-right: 126px;
}


.nav-anchors a {
    text-decoration: none;
    color: inherit;
    min-width: 80%;
    margin: 0 10px;
    max-width: 1400px; 
    

}


.nav-anchors a:hover{
   
    outline-style:solid;
    outline-offset: 5px;
    border-radius: 2px;
    outline-width:0.2px;
    outline-color:gray;
}



.nav-img{
    align-items: center;

}

.sub-body{

    background-color: azure;
    display: grid;
    border-radius: 30px;
    grid-template-rows: auto;
    height: 800px;
}
    
   



.sub-body-heading{
    font-style:oblique;
    color:  #ff8d40;
   padding-left: 10px;
   letter-spacing: .8rem;

}

.sub-body-P{
 
    
   padding-left: 10px;
   

}


.sub-body-heading2{
    font-style:oblique;
    color:  #ff8d40;
   padding-left: 10px;
   letter-spacing: .8rem;
 
}




.products-list{
    padding: 50px 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.productinfo-grid-container{
    display: grid;
    grid-template-areas: 'productinfo-left center productinfo-right';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 84px;
    margin: 10px;
  

}

.productinfo-left{
    
    grid-area: 'productinfo-right';
}

.productinfo-right{  
    grid-area: 'productinfo-right';
    
}





.innerbox-title{
    font-size: larger;
    text-align: -webkit-center;
    font-weight: bold;

}

.inner-box {
    font-size:medium;
    color: white;
    border-radius: 15px;
    padding: 50px 10px;
    text-align: center;
    width: 300px;
    height: 280px;
    background-color: #ff8d40;

}

/*--------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) { 

    .products-list{
        grid-template-columns: repeat(1,100%);

    }
    .sub-body{
        height: 1692px;
    }

    .nav-anchors a:hover{
   
        outline-style:solid;
        outline-offset: 1px;
        border-radius: 1px;
        outline-width:0.2px;
        outline-color:gray;
    }

   
    
}



